<div class="ddd-info">
  <span class="ddd-info-heading">
    Data Usage - Frequently Asked Questions
  </span>
  <span class="ddd-info-subheading">
    What is the purpose of this page?
  </span>
  <p>
    The purpose of this page is to inform users of this site of how their information
    will be used if they should sign in via social media.
  </p>
  <span class="ddd-info-subheading">
    How do I Sign In?
  </span>
  <p>
    You will need an account on either Facebook or Twitter. You will sign in on this
    website using one of those social media websites.
  </p>
  <span class="ddd-info-subheading">
    How will my information be used?
  </span>
  <p>
    Your display name, as set by the social media platform with which you sign in,
    will be used to identify you as the author of comments you leave on venues which you
    attend. Venue comments are deleted automatically 24 hours after they are posted, and venue
    information is deleted automatically 1 week after it enters the database.
  </p>
  <p>
    Your provider ID, as set by your social media platform, will be used to log you in
    to this website. It will remain hidden.
  </p>
  <p>
    If you would like to have your identifying information (display name, provider ID) removed
    from this site, then you may delete your account. Your information will never be used in ways
    other than what is specified above..
  </p>
</div>